@tailwind base;
@tailwind components;
@tailwind utilities;

.input-modern {
  @apply w-full p-3 rounded-xl bg-gray-100 dark:bg-gray-700 border outline-none focus:ring-2 focus:ring-purple-400;
}

.btn-primary {
  @apply w-full bg-purple-600 text-white py-3 rounded-xl shadow hover:scale-105 transition;
}

.btn-outline {
  @apply w-full border-2 border-blue-600 dark:border-blue-400 text-blue-600 dark:text-blue-300 py-3 rounded-xl;
}

.btn-danger {
  @apply block bg-red-600 text-white py-4 rounded-xl shadow hover:bg-red-700 transition;
}
